* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}

header {
    background-color: #c94139;
    color: beige;
    padding: 16px ;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin-left: 8px;

}

header nav li {
    display: inline;
    margin-right: 8px;
}

header nav li a {
    color: #c94139;
}

.container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

#menu-button {
    background-color: #fdfd96;
    padding: 8px;
    border: 2px;
    border-style: solid;
    border-radius: 8px; 
    border-color: #cbcd69;
    cursor: pointer;
}

#menu-button:hover {
    background-color: #cbcd69;
}

#sinopse .container {
    display: flex;
    background-color: #fdfd96;
    padding: 8px;
}

#sinopse img {
    width: 380px;
    margin-left: 16px;
    border-radius: 8px;
}

.sinopse {
    margin-left: 16px;
    background-color: #cbcd69;
    padding: 8px;
    border-radius: 8px;
}

.sinopse h2 {
    margin-bottom: 16px;
}

.sinopse p {
    margin-bottom: 8px;
}

#characters .container {
    display: flex;
    background-color: #fd9e99;
    padding: 8px;
    justify-content: flex-start;
}

#characters h2 {
    margin-left: 16px;
}

#characters li {
    display: flex;
}

#characters img {
    width: 280px;
    background-color: #ff6961;
    border-radius: 16px;
    margin: 8px 0 8px 8px;
}

#character-deadpool,
#character-wolverine {
    margin: 16px 16px 16px 16px;
    border-radius: 8px;
    background-color: #ff6961;
}

#character-deadpool h3,
#character-deadpool p,
#character-wolverine h3,
#character-wolverine p {
    margin: 8px;
}

#contact .container {
    display: block;
    margin: 8px;
}

#contact-method {
    display: flex;
    justify-content: space-between;
}

.message {
    display: flex;
    justify-content: space-between;
}

.social-links li{
    display: inline;
    margin: 8px;
}

#contact img {
    height: 24px;
}

form input,
form form,
form button,
textarea {
    display: block;
    width: 320px;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 8px;
}

input:focus, textarea:focus {
    outline-color: #c94139;
}

form button {
    background-color: #c94139;
    color: #fff;
    border: none;
    cursor: pointer;
}

form textarea {
    resize: none;
    height: 180px;
}

footer {
    background-color: #c94139;
    color: #ecf0f1;
    padding: 16px 0;
}